<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Spotipear</title>
</head>
<body>
  {% extends "template.html" %}
  {% block content %}
  <h2> Combine 2 Spotify Playlists </h2>
  <p> Here's a Web App that takes the sound qualities of 2 spofity playlists to create a new playlist that is most-similar to both playlists. I got the idea to build this when my roommate and his girlfriend couldn't decide what to watch on Netflix and thought it'd be cool to build something that recommended a movie they'd both like. But Netflix doesn't have a public API, and Spotify does. So here's that same idea but for Spotify.   </p>


  <form action="/login" method = "get" >

    <button type="submit", id = "submit" class = "button" >Log Into Spotify</button>
    

  </form>

  <style>
  p{
    margin-left: 15%;
    margin-right: 15%;
  }
  </style>

  {% endblock %}
</body>

</html>