<!DOCTYPE html>
<html>
{% extends "template.html" %}
  {% block content %}
  <div>
    
      <div class="w3-display-middle w3-center">
        <div class = "w3-display-container">
          <h1 class = "w3-animate-top"><a href= "/login"> Give It A Try</a></h1>
          <div class="w3-display-bottom w3-display-hover">Log Into Spotify to Start Creating New Playlists</div>
        </div>
        <hr class="w3-border-grey" style="margin:auto;width:100%">
        <div class = "w3-display-container">
          <h1 class = "w3-animate-bottom" >About</h1>
          
          <div class="w3-display-bottom w3-display-hover">Going on a roadtrip with a friend and you each have a playlist you want to listen to? Got two favorite playlists and want to find bands with similar qualities to each? Wanna stop arguing with your significant other about what to play in the car? SpotiPear will take two Spotify playlists and find a new set of songs that combine the musical features and sound qualities of each of the original playlists</div>
        </div>
      </div>
    
  </div>
{% endblock %}
</html>
