<!DOCTYPE html>
<html>


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">



<style>

body, html {height: 100%}
body,h1 {font-family: "Raleway", sans-serif}

.bgimg {
  background-image: url('../static/background.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

/*Get rid of underline on link*/
a:link {
  text-decoration: none;
}


</style>


<body >


<div class="bgimg w3-animate-opacity w3-text-white">
  
  <div class = "w3-display-top w3-center w3-padding w3-text-black" >
      <h1 class = "w3-jumbo"> SpotiPear </h1>
      <p> Take Two Playlists and Make a New One That Combines the Musical Tastes of Each</p>
  </div>

{% block content %}
{% endblock %}

</div>

  <div class="w3-display-bottomleft w3-padding-large">
    Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
  </div>
</div>

</body>
</html>
