<!DOCTYPE html>
<html>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<body>
{% extends "template.html" %}
{% block content %}
    






<!-- Wrap this in a JQUERY script that shows a loading message while Pearing playlist -->
<!-- https://stackoverflow.com/questions/14525029/display-a-loading-message-while-a-time-consuming-function-is-executed-in-flask -->


<body>
    <div class="w3-display-middle w3-center">
      <div>
        <h2>Choose Playlists</h2>
        <p> If you want to combine yours and a friend's you'll have to follow their playlist from your account</p>
      </div>
    <div id="loading" class = "w3-center" > Combining Playlists... </div>  
    <div id="content">
        
        <form action ="{{ url_for('pearing') }}" method="POST">
          
            <select id="playlist_dropdown_1" name = "playlist_name_1" class = "custom-select"></select>
            <p></p>
            <select id="playlist_dropdown_2" name = "playlist_name_2" class = "custom-select"></select>
            <p></p>
            <!-- include user_id and access_token in post request so Python can leverage for functions -->
            <input type="hidden" name="user_id" id = "user_id"></input>
            <input type="hidden" name="access_token" id = "access_token"></input>
            <input type="hidden" name="user_id" id = "all_playlist_names"></input>
        
        <div>
        <button type="submit" onclick="loading();" class = "w3-btn w3-round-xxlarge w3-ripple combine-playlists" >Combine Playlists</button>
    </div>
        
    </form>

        
    </div>    
</div>
</body>


<!-- Form that has users select the 2 playlists they want to combine -->
 
 <script>// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();       
        }
// ]]></script>



<script>

// Dynamically populatae form elements with all possible playlist names
var select_1 = document.getElementById('playlist_dropdown_1');
var select_2 = document.getElementById('playlist_dropdown_2');
//Read in all playlists from flask as array - if single variable, use quotes. If list, no quotes
var all_playlists_names = {{all_playlists_names|safe}};

for( playlist_name in all_playlists_names ) {
    
    select_1.add( new Option( all_playlists_names[playlist_name] ) );
    select_2.add( new Option( all_playlists_names[playlist_name] ) );
    
};


var user_id = '{{user_id}}';
var access_token = '{{access_token}}';

document.getElementById('user_id').value = user_id;
document.getElementById('access_token').value = access_token;


</script>

<style>
div#loading {
    width: 100%;
    height: 100%;
    display: none;
    /*background: url(/static/images/loading.png) no-repeat;*/
    cursor: wait;
    }

.combine-playlists{
  background-color: #C94874;
}

</style>

{% endblock %}
</body>
</html> 
