<!DOCTYPE html>
<html>
<body>
	{% extends "template.html" %}
	{% block content %}
	<div class="center_box w3-center" >
		<h2>Playlists Combined</h2>
		<p>
			There is a new playlist in your spotify account that is similar to {{ playlist_name_1 }} and  {{ playlist_name_2 }}. 
		</p>
		<div class = "w3-center">
		<button type="submit" class = "w3-btn  w3-round-xxlarge w3-ripple spotify-button custom-button" onclick="window.open('http://open.spotify.com/playlist/{{playlist_id}}')" >Go To Spotify</button>
		</div>	
		<div class = "w3-center">
		<button type="submit" onclick="window.location.href='/login'" class = "w3-btn w3-round-xxlarge w3-ripple home-button custom-button " >Do It Again</button>
		</div>
	</div>
	<style>
	.spotify-button{background-color: #2FD566;}
	.home-button{background-color: #08205F; }
	.custom-button{margin: 1%; width: 100%; max-width: 150px;}
	</style>
	<script>
		var playlist_id = {{playlist_id}}
	</script>
<!-- 
	<script>
		var all_playlists_names = {{all_playlists_names|safe}};
		var user_id = '{{user_id}}';
		var access_token = '{{access_token}}';
	</script>

 -->
 	{% endblock %}
</body>
</html> 
