<!DOCTYPE html>
<html>
<body>

<h2>Pear Playlists</h2>
<p>Select the two playlists you want to combine</p>



<!-- Wrap this in a JQUERY script that shows a loading message while Pearing playlist -->
<!-- https://stackoverflow.com/questions/14525029/display-a-loading-message-while-a-time-consuming-function-is-executed-in-flask -->
<!-- Form that has users select the 2 playlists they want to combine -->
 <form action ="{{ url_for('pearing') }}" method="post">
            <select id="playlist_dropdown_1" name = "playlist_name_1"></select>
            <select id="playlist_dropdown_2" name = "playlist_name_2"></select>
            <!-- include user_id and access_token in post request so Python can leverage for functions -->
            <input type="hidden" name="user_id" id = "user_id"></input>
            <input type="hidden" name="access_token" id = "access_token"></input>
            
        <button type="submit">Submit</button>
</form>


<script>

// Dynamically populatae form elements with all possible playlist names
var select_1 = document.getElementById('playlist_dropdown_1');
var select_2 = document.getElementById('playlist_dropdown_2');
//Read in all playlists from flask as array - if single variable, use quotes. If list, no quotes
var all_playlists_names = {{all_playlists_names|safe}};

for( playlist_name in all_playlists_names ) {
    
    select_1.add( new Option( all_playlists_names[playlist_name] ) );
    select_2.add( new Option( all_playlists_names[playlist_name] ) );
    
};


// function setCookie(cname, cvalue, exdays) {
//   var d = new Date();
//   d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
//   var expires = "expires="+d.toUTCString();
//   document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
// };

// Read in user_id and access_token passed from flask - if single variable, use quotes. If list, no quotes
// Set innerHTML values so we can pass them in the form's post request
var user_id = '{{user_id}}';
var access_token = '{{access_token}}';

document.getElementById('user_id').value = user_id;
document.getElementById('access_token').value = access_token;

// set these as cookies to reference later (maybe?)
// setCookie('user_id', user_id, 400)
// setCookie('access_token', access_token, 400)




</script>

</body>
</html> 
