<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>About</title>
</head>
<body>
  {% extends "template.html" %}
  {% block content %}
  <div class = "center_box">
      <div class = "w3-justify">
      <h2 class = "w3-center"> The Idea </h2>
      <p> Watching my roommate and his girlfriend argue about what to watch on Netflix, I thought it would be awesome if there were an app that took the individual preferences of each viewer and combined them to find a movie that was the best "in-between" match for each person. However, Netflix doesn't have a public API. But Spotify does, so here's the same thing, but for Spotify.   </p>
    </div>
    <div class = "w3-justify">
      <h2 class = "w3-center"> The Code </h2>
      If you're like me and want to know HOW things work, this snippet is for you. To make the "new" playlist, we first get all songs from each original playlist, and then using the Spotify API get a new large list of recommended songs from seeded songs in the original playlists. For all songs (original and newly recommended) we can get a set of features provided by Spotify (energy, danceability, speechiness, etc...) as well. Taking our original songs and newly recommended songs, we can find the "distance" in this song space between all new and original songs. Knowing the distance in this space from each song to all other songs, we can then pick a sub-set of recommended songs that fall most closely "in-between" the two original playlists, and are thus the most-similar to our original set of song choices
    </div>
  </div>
  {% endblock %}
</body>

</html>