<!DOCTYPE html>
<html>
<body>

<h2>Pearing</h2>
<p>Ok so now just write the python code to Pear the following playlists</p>

<p> {{ playlist_name_1 }} </p>
<p> {{ playlist_name_2 }} </p>
<p> {{user_id}} </p>
<p> {{access_token}} </p>

<script>

// function getCookie(cname) {
//   var name = cname + "=";
//   var ca = document.cookie.split(';');
//   for(var i = 0; i < ca.length; i++) {
//     var c = ca[i];
//     while (c.charAt(0) == ' ') {
//       c = c.substring(1);
//     }
//     if (c.indexOf(name) == 0) {
//       return c.substring(name.length, c.length);
//     }
//   }
//   return "";
// };

// function setCookie(cname, cvalue, exdays) {
//   var d = new Date();
//   d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
//   var expires = "expires="+d.toUTCString();
//   document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
// };



// // Get cookies
// var user_id = getCookie('user_id');
// var access_token = getCookie('access_token');

// document.getElementById('user_id').innerHTML = user_id;
// document.getElementById('access_token').innerHTML = access_token;

</script>

</body>
</html> 
