<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Two Numbers</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1> Input two numbers </h1>
    
    <form action = "http://127.0.0.1:5000/adding" method = "GET">
        <p>Enter Numbers:</p>
        <p><input type = "text" name = "n1" /></p>
        <p><input type = "text" name = "n2" /></p>
        <p><input type = "submit" value = "submit"/></p>
      </form>
    {% endblock %}
  </body>
</html>