<!DOCTYPE html>
<html>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();       
        }
// ]]></script>

<body>

<h2>Combine Playlists</h2>
<p>Select the two playlists you want to combine - if you want to combine yours and a friend's you'll have to follow their playlist from your account</p>



<!-- Wrap this in a JQUERY script that shows a loading message while Pearing playlist -->
<!-- https://stackoverflow.com/questions/14525029/display-a-loading-message-while-a-time-consuming-function-is-executed-in-flask -->


<body>
    <div id="loading"> Combining Playlists... </div>
    <div id="content">
        <h3>Select the 2 playlists you want to combine</h3>
        <p>
        <form action ="{{ url_for('pearing') }}" method="POST">
            <select id="playlist_dropdown_1" name = "playlist_name_1"></select>
            <select id="playlist_dropdown_2" name = "playlist_name_2"></select>
            <!-- include user_id and access_token in post request so Python can leverage for functions -->
            <input type="hidden" name="user_id" id = "user_id"></input>
            <input type="hidden" name="access_token" id = "access_token"></input>
            
        <button type="submit" onclick="loading();" >Combine Playlists</button>
    </form>
        </p>
    </div>    
</body>


<!-- Form that has users select the 2 playlists they want to combine -->
 


<script>

// Dynamically populatae form elements with all possible playlist names
var select_1 = document.getElementById('playlist_dropdown_1');
var select_2 = document.getElementById('playlist_dropdown_2');
//Read in all playlists from flask as array - if single variable, use quotes. If list, no quotes
var all_playlists_names = {{all_playlists_names|safe}};

for( playlist_name in all_playlists_names ) {
    
    select_1.add( new Option( all_playlists_names[playlist_name] ) );
    select_2.add( new Option( all_playlists_names[playlist_name] ) );
    
};


// function setCookie(cname, cvalue, exdays) {
//   var d = new Date();
//   d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
//   var expires = "expires="+d.toUTCString();
//   document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
// };

// Read in user_id and access_token passed from flask - if single variable, use quotes. If list, no quotes
// Set innerHTML values so we can pass them in the form's post request
var user_id = '{{user_id}}';
var access_token = '{{access_token}}';

document.getElementById('user_id').value = user_id;
document.getElementById('access_token').value = access_token;

function clicked(){

}

// set these as cookies to reference later (maybe?)
// setCookie('user_id', user_id, 400)
// setCookie('access_token', access_token, 400)




</script>

<style>
div#loading {
    width: 1000px;
    height: 1000px;
    display: none;
    /*background: url(/static/images/loading.png) no-repeat;*/
    cursor: wait;
    }
</style>


</body>
</html> 
